.hello{
    width:90%;
    height:auto;
    font-size:120px;
    color:white;
    font-weight:800;
    margin:0px !important;
    background-color: transparent;
    border:none;
    text-decoration: none;
    font-family: "Fira Mono";
    text-align: left;
    align-items: center;
    margin-bottom:10px;
    transition:0.5s;

    &:hover{
        cursor: pointer;
        transform:translate(50px,0);
        // position: relative;
        // left:50px;
    }
}

.iam{
    width:90%;
    height:auto;
    font-size:120px;
    color:#27aae1;
    font-weight:800;
    margin:0px !important;
    background-color: transparent;
    border:none;
    text-decoration: none;
    font-family: "Fira Mono";
    text-align: left;
    margin-bottom:10px;
    transition:0.5s;
    &:hover{
        cursor: pointer;
        transform:translate(50px,0);
    }
}
.bayu{
    width:90%;
    height:auto;
    font-size:120px;
    color:#27aae1;
    font-weight:800;
    margin:0px !important;
    background-color: transparent;
    border:none;
    text-decoration: none;
    font-family: "Fira Mono";
    text-align: left;
    transition:0.5s;
    &:hover{
        cursor: pointer;
        transform:translate(50px,0);
        
    }
}




.headernew{
    width:90%;
    height:auto;
    font-size:1em;
    color:#27aae1;;
    font-weight:800;
    margin:0px !important;
    background-color: transparent;
    border:none;
    text-decoration: none;
    font-family: "Fira Mono";
    text-align: left;
    align-items: center;
    margin-bottom:10px;
    transition:0.5s;

    &:hover{
        cursor: pointer;
        transform:translate(50px,0) !important;
        // background-color: red;
        position: relative;
        // left:50px;
    }
}