.hello{
    width:90%;
    height:auto;
    font-size:120px;
    color:white;
    font-weight:800;
    margin:0px !important;
    background-color: transparent;
    border:none;
    text-decoration: none;
    font-family: "Fira Mono";
    text-align: left;
    align-items: center;
    margin-bottom:10px;
    transition:1.5s;

    &:hover{
        cursor: pointer;
        position: relative;
        left:50px;
    }
}

.iam{
    width:90%;
    height:auto;
    font-size:120px;
    color:#27aae1;
    font-weight:800;
    margin:0px !important;
    background-color: transparent;
    border:none;
    text-decoration: none;
    font-family: "Fira Mono";
    text-align: left;
    margin-bottom:10px;
    transition:1.5s;
    &:hover{
        cursor: pointer;
        position: relative;
        left:50px;
    }
}
.bayu{
    width:90%;
    height:auto;
    font-size:120px;
    color:#27aae1;
    font-weight:800;
    margin:0px !important;
    background-color: transparent;
    border:none;
    text-decoration: none;
    font-family: "Fira Mono";
    text-align: left;
    transition:2s;
    &:hover{
        cursor: pointer;
        position: relative;
        left:50px;
        transition:2s;
        // width:100%;
    }
}


.headerold{
    width:90%;
    // padding:10px;
    height:auto;
    font-size:1em;
    color:white;
    font-weight:800;
    margin:0px !important;
    background-color: transparent;
    border:none;
    text-decoration: none;
    font-family: "Fira Mono";
    text-align: left;
    transition:2s;
    &:hover{
        cursor: pointer;
        position: relative;
        left:50px;
        transition:2s;
        // width:100%;
    }
}

.headernew{
    width:90%;
    height:auto;
    font-size:1em;
    color:#27aae1;;
    font-weight:800;
    margin:0px !important;
    background-color: transparent;
    border:none;
    text-decoration: none;
    font-family: "Fira Mono";
    text-align: left;
    align-items: center;
    margin-bottom:10px;
    transition:1.5s;

    &:hover{
        cursor: pointer;
        position: relative;
        left:50px;
    }
}