$background:linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
$newBackground:linear-gradient(113.49deg,#27aae1 -30.3%,#264274 58.12% );
$newBackground-2:linear-gradient(113.49deg,#181E41 -30.3%,#27aae1 58.12% );
@import 'media_queries';

body{
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizeLegibility;
}
.mobile-footer{
    width:100%;
    height:100vh;
    // border:1px solid pink;
    background-color: transparent;
    opacity: 1;
    position: absolute;
    bottom:0;
    display: none;
    justify-content: center;
    align-items: flex-end;
    z-index:3;
    p{
        color:white;
        opacity: 1;
        position: relative;
        top:-20px;
        font-weight:700;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    .bounce-2 {
        animation-name: bounce-2;
        animation-timing-function: ease;
    }
    @keyframes bounce-2 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-20px); }
        100% { transform: translateY(0); }
    } 
    @include mobile450 {
        display: flex;
    }
}

.big-container-home{
    width:100%;
    height:100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @keyframes bg-photo {
        0% {
         opacity:0;
         transform: scale(1.1);
        }
        100% {
            opacity:1;
            transform:scale(1)
        }
     }

    @include mobile450{
      
        .menu-home {
           display: none !important;
        }
        .menu-home-mobile {
            display: flex !important;
            width:50% !important;
            z-index:4 !important;
            .hello-mobile {
                width:100%;
                // background-color: red !important;
                font-size:70px !important;
                text-align: center;
                z-index:4 !important;
            }
            .iam-mobile{
                font-size:70px !important;
                z-index:4 !important;
            }
            .bayu-mobile{
                font-size:70px !important;
                z-index:4 !important;
            }
        }
        .box-img-home{
            width:50% !important;
            background-position: left 25% bottom 20% !important;
            animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1)
            
        }
       
        .btn-menu-mobile {
            display: flex !important;;
            position: relative !important;
            bottom : 0 !important;
            width:100%;
            height:100px !important;
            // border:1px solid pink;
        }
    }
 

    .menu-home{
        width:40%;
        height:100%;
        z-index:2;
        // border:1px solid pink;
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        line-height: 1.2;
        font-family: 'Acme', sans-serif;
    }

    .menu-home-mobile {
        width:40%;
        height:100%;
        z-index:2;
        // border:1px solid pink;
        // background-color: red;
        display: none;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        line-height: 1.2;
        font-family: 'Acme', sans-serif;
    }
    .box-img-home{
        width:60%;
        height:100%;
        // border:1px solid blue;
        background-image: url('../Assets/bayu.png');
        // background-image: url('../Assets/testingbayupng.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1)
        // top:-100px;
        // background-size: 100% 100%;
    }
    .btn-menu-mobile {
        display: none;
    }
}


