$background:linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
$newBackground:linear-gradient(113.49deg,#27aae1 -30.3%,#264274 58.12% );
$newBackground-2:linear-gradient(113.49deg,#181E41 -30.3%,#27aae1 58.12% );

body{
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizeLegibility;
}

.big-container-home{
    width:100%;
    height:100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .menu-home{
        width:40%;
        height:100%;
        z-index:2;
        // border:1px solid pink;
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        line-height: 1.2;
        font-family: 'Acme', sans-serif;
        .hello{
            width:90%;
            height:auto;
            font-size:120px;
            color:white;
            font-weight:800;
            margin:0px !important;
            background-color: transparent;
            border:none;
            text-decoration: none;
            font-family: "Fira Mono";
            text-align: left;
            align-items: center;
            margin-bottom:10px;
            transition:1.5s;

        &:hover{
            cursor: pointer;
            position: relative;
            left:50px;
        }
            
        }
        
        .iam{
            width:90%;
            height:auto;
            font-size:120px;
            color:#27aae1;
            font-weight:800;
            margin:0px !important;
            background-color: transparent;
            border:none;
            text-decoration: none;
            font-family: "Fira Mono";
            text-align: left;
            margin-bottom:10px;
            transition:1.5s;
            &:hover{
                cursor: pointer;
                position: relative;
                left:50px;
            }
        }
        .bayu{
            width:90%;
            height:auto;
            font-size:120px;
            color:#27aae1;
            font-weight:800;
            margin:0px !important;
            background-color: transparent;
            border:none;
            text-decoration: none;
            font-family: "Fira Mono";
            text-align: left;
            transition:1.5s;
            &:hover{
                cursor: pointer;
                position: relative;
                left:50px;
                // width:100%;
            }
        }
    }
    .box-img-home{
        width:60%;
        height:100%;
        // border:1px solid blue;
        background-image: url('../Assets/bayu.png');
        // background-image: url('../Assets/testingbayupng.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        // top:-100px;
        // background-size: 100% 100%;
    }
}


.new-big-container-home{
    background-color:#000000;
    // height:100vh;
    width:100vw;
    .max-width{
        max-width: 40em;
        // height:50vh;
        margin: 0 auto;
        
        .vertical-center{
            // background-color: red;
            position: absolute;
            // width:100%;
            height: 100%;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .hello{
                width:100%;
                height:auto;
                font-size:120px;
                color:white;
                font-weight:800;
                margin:0px !important;
                background-color: transparent;
                border:none;
                text-decoration: none;
                font-family: "Fira Mono";
                text-align: left;
                align-items: center;
                margin-bottom:10px;
                transition:1.5s;
    
            &:hover{
                cursor: pointer;
                position: relative;
                left:50px;
            }
                
            }
            
            .iam{
                width:100%;
                height:auto;
                font-size:120px;
                color:#27aae1;
                font-weight:800;
                margin:0px !important;
                background-color: transparent;
                border:none;
                text-decoration: none;
                font-family: "Fira Mono";
                text-align: left;
                margin-bottom:10px;
                transition:1.5s;
                &:hover{
                    cursor: pointer;
                    position: relative;
                    left:50px;
                }
            }
            .bayu{
                width:100%;
                height:auto;
                font-size:120px;
                color:#27aae1;
                font-weight:800;
                margin:0px !important;
                background-color: transparent;
                border:none;
                text-decoration: none;
                font-family: "Fira Mono";
                text-align: left;
                transition:1.5s;
                &:hover{
                    cursor: pointer;
                    position: relative;
                    left:50px;
                    // width:100%;
                }
            }
        }
    }
    .bg-photo{
        z-index: -9;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 45%;
        background-image: url('../Assets/testingbayupng.png');
        // background-repeat: no-repeat;
        // -webkit-background-size: cover;
        // -moz-background-size: cover;
        // -o-background-size: cover;
        // background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
    }
}